/* body {
    background: #1f2227;
  }
  
  input {
    display: block;
    width: 90%;
    height: 30px;
    font-size: 20px;
    margin: 30px auto;
    border-radius: 5px;
    border: 0;
  }
   */

   /* App.css */

   body {
    background: #1f2227;
  }
  
  input {
    display: block;
    width: 90%;
    height: 30px;
    font-size: 20px;
    margin: 30px auto;
    border-radius: 5px;
    border: 0;
  }
  
  ul {
    list-style: none; /* Remove the bullet points */
    padding: 0; /* Remove any default padding */
  }
  
  li {
    cursor: pointer; /* Set cursor to pointer for clickable items */
    padding: 8px 12px; /* Add padding for better aesthetics */
    border-radius: 0px; /* Add border-radius for rounded corners */
    background-color: #fff; /* Set background color for suggestions */
    margin-bottom: 1px; /* Add margin between suggestions */
  }
  
  li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  